# Ignore ML subdir
ml/

# Python virtual environments
venv/
.env/
__pycache__/
*.pyc

# Node.js dependencies
node_modules/

# Local config
*.log

# OS / IDE files
.DS_Store
.vscode/
.idea/

# Git files
.git/
.gitignore

# Test & coverage
tests/
test/
coverage/

# Docker files (optional)
docker-compose.yml
